body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}
.news__item {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-top-color: #73AD21; 
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.img {
    width: 200px;
    height: 180px;
    position: relative;
}

.foot {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

.news {
    text-align: center;
}